node_modules
downloads/*
!downloads/.gitkeep
uploads/*
!uploads/.gitkeep
sessions/whatsapp/*
!sessions/whatsapp/.gitkeep
sessions/openwa/*
!sessions/openwa/.gitkeep
!sessions/openwa/saved_channels.json
.env
yt-dlp
yt-dlp.exe
cloudflared
cloudflared.exe
